baseImages:
  alma-linux-10:
    image: quay.io/almalinuxorg/almalinux-bootc
    tag: "10"
    digest: sha256:7d989d916f51b31515fdd7124e8675856ecf0a01a6281a7386baefc3f240fcc6
  alma-linux-rpi-10:
    image: quay.io/almalinuxorg/almalinux-bootc-rpi
    tag: "10"
    digest: sha256:5afc9b78d12e5d0c9ed5566c6a6ce7121b07ce1e97715e13e64d32e715756414
  centos-stream-10:
    image: quay.io/centos-bootc/centos-bootc
    tag: stream10
    digest: sha256:a084b73d846ef83ec123a506a74205dc1d2e1b0535dec67686a382bb5edeba7e
folders:
  apps: apps
  containers: containers
containers:
  - base
  - tailscale
  - zfs
  - monitoring
  - monitoring-zfs
  - k3s
  - server
  - server-zfs
  - server-k3s
  - server-k3s-zfs
  - server-worker
  - server-worker-zfs
  - server-atlas
  - server-boba
  - server-mochi
apps:
  - alloy
  - cloudflared
  - gotop
  - k3s
  - restic
  - tailscale
  - yq
  - zfs
