baseImages:
  alma-linux-10:
    image: quay.io/almalinuxorg/almalinux-bootc
    tag: "10"
    digest: sha256:598d91567895ec4d28bc8b38b4e62c9b84b2c04cc2c4dcda5088a8c6840a83e2
  alma-linux-rpi-10:
    image: quay.io/almalinuxorg/almalinux-bootc-rpi
    tag: "10"
    digest: sha256:00be369472d277d2aaae79c7a6678388f95f96cc834482d3c852637557fb4797
  centos-stream-10:
    image: quay.io/centos-bootc/centos-bootc
    tag: stream10
    digest: sha256:01f66a0009ee2a24fb907bfaee335539d680cfd2cf323f8f37b64e324ed8d412
folders:
  apps: apps
  containers: containers
containers:
  - base
  - tailscale
  - zfs
  - monitoring
  - monitoring-zfs
  - k3s
  - server
  - server-zfs
  - server-k3s
  - server-k3s-zfs
  - server-worker
  - server-worker-zfs
  - server-atlas
  - server-boba
  - server-mochi
apps:
  - alloy
  - cloudflared
  - gotop
  - k3s
  - restic
  - tailscale
  - yq
  - zfs
