baseImages:
  alma-linux-9:
    image: quay.io/almalinuxorg/almalinux-bootc
    tag: "9"
    digest: sha256:5d1f9eaf2d9832056542e2dfafac73bd84dd7830b012c469a07546f2c91260ed
  centos-stream-9:
    image: quay.io/centos-bootc/centos-bootc
    tag: stream9
    digest: sha256:eac48dc40c862335e8c8e7ae4acf96a0eec170d6874c4a8bf78598093c014b68
folders:
  apps: apps
  containers: containers
containers:
  - base
  - tailscale
  - zfs
  - monitoring
  - monitoring-zfs
  - k3s
  - server
  - server-zfs
  - server-atlas
  - server-k3s
  - server-worker
apps:
  - alloy
  - cloudflared
  - gotop
  - k3s
  - restic
  - tailscale
  - yq
  - zfs
