baseImages:
  alma-linux-9:
    image: quay.io/almalinuxorg/almalinux-bootc
    tag: "9"
    digest: sha256:39d85cd9dcb0f7197f59d35c3ece8f72fe81a673224282883c89902aee0dc2ab
  centos-stream-9:
    image: quay.io/centos-bootc/centos-bootc
    tag: stream9
    digest: sha256:1740ecb15966c61e9cf539efb19368914cda48b90e88aec00fb05e805e6b8030
folders:
  apps: apps
  containers: containers
containers:
  - base
  - tailscale
  - zfs
  - monitoring
  - monitoring-zfs
  - k3s
  - server
  - server-zfs
  - server-atlas
  - server-k3s
  - server-worker
apps:
  - alloy
  - cloudflared
  - gotop
  - k3s
  - restic
  - tailscale
  - yq
  - zfs
