name: "Update versions"

on:
  schedule:
    # https://crontab.guru/#42_13_*/2_*_*
    - cron: '42 13 */2 * *'
  workflow_dispatch:

jobs:
  update-versions:

    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      repository-projects: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version-file: 'tools/go.mod'
          cache-dependency-path: 'tools/go.sum'

      # Compile the tools app
      - name: Compile tools app
        run: |
          mkdir -p ../.bin
          go build \
            -v \
            -o ../.bin/tools
        working-directory: ./tools

      - name: "Run the update-versions tool"
        id: update-versions
        run: |
          set -euo pipefail

          mkdir -p .out

          # For el9
          .bin/tools \
            update-versions \
            --work-dir el9 \
              | tee -a .out/updated.md

          # For el10
          .bin/tools \
            update-versions \
            --work-dir el10 \
              | tee -a .out/updated.md

          if git diff; then
            echo "changed=1" >> "$GITHUB_OUTPUT"
            echo "hash=$(sha256sum .out/updated.md | head -c 8)" >> "$GITHUB_OUTPUT"
          else
            echo "changed=0" >> "$GITHUB_OUTPUT"
          fi

      # Create Pull Request if there are changes
      - name: Create Pull Request
        if: steps.update-versions.outputs.changed == '1'
        uses: peter-evans/create-pull-request@v7
        with:
          commit-message: 'Update versions file'
          committer: 'github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>'
          author: '${{ github.actor }} <${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com>'
          branch: 'update-versions/${{ steps.update-versions.outputs.hash }}'
          sign-commits: true
          title: 'Update versions'
          body-path: '.out/updated.md'
          labels: |
            automated pr
